@import '../../styles/layout'
@import '../../styles/colors'


.transactionList
  padding-bottom: $base-indent * 4

  &-itemGroup
    &:hover
      background-color: $color-dark-blue-2

  &-item
    padding: 4px 14px
    display: flex
    align-items: center
    cursor: pointer
    border: 1px solid transparent
    border-radius: 3px

    &:hover
      border-color: $color-light-blue

  &-itemIconWrapper
    height: 50px
    width: 50px
    background-color: $color-blue
    border-radius: 5px
    display: flex
    justify-content: center
    align-items: center
    color: $color-pale-blue
    font-size: 30px

  &-itemInfo
    margin-right: 10px
    flex: 1
    overflow: hidden
    min-height: 35px

  &-itemInfoTop
    align-items: center
    display: flex

  &-itemDate
    font-size: 12px
    color: $color-light-blue
    flex-shrink: 0

  &-itemCategory
    font-size: 12px
    font-weight: bold
    color: $color-pale-blue
    background-color: $color-blue
    border-radius: 5px
    padding: 1px 5px
    margin-left: 5px
    overflow: hidden
    text-overflow: ellipsis

  &-itemComment
    color: $color-white
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

  &-itemValue
    font-size: 20px
    text-align: center
    color: $color-pale-blue
    display: flex
    align-items: baseline

    &--expense
      color: $color-accent-red

    &--income
      color: $color-accent-green

  &-itemValueCurrency
    font-size: 16px
    margin-right: 5px

  &-addButton
    margin-right: 60px

  &-scanButton
    background-color: $color-accent-blue
