@import "../../styles/layout"
@import "../../styles/colors"


.appBar
  height: 54px
  width: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 1
  background-color: $color-dark-blue-2

  &-inner
    max-width: calc(800px - #{$base-indent}*3)
    width: calc(100% - #{$base-indent}*3)
    display: flex
    justify-content: space-between
    padding: 15px
    color: $color-light-blue
    align-items: center
    margin: 0 auto

  &-rightIconBlock
    height: 24px

  &-filterIcon
    cursor: pointer
    &:hover
      color: $color-pale-blue

    &--active
      color: $color-white

  &-mainIcon
    cursor: pointer

    &:hover
      color: $color-pale-blue
