@import "../../styles/colors"


.transactionTypeTabs
  margin: 15px 15px 30px 15px
  display: flex

  &-tab
    text-transform: capitalize
    font-size: 16px
    padding: 10px 0
    color: $color-light-blue
    flex: 1
    text-align: center
    cursor: pointer

    &:not(.transactionTypeTabs-tab--selected)
      &:hover
        color: $color-pale-blue

    &--selected
      border-bottom: 5px solid $color-light-blue

      &.transactionTypeTabs-tab
        &--expense
          color: $color-accent-red
          border-color: $color-accent-red

        &--income
          color: $color-accent-green
          border-color: $color-accent-green

        &--transfer
          color: $color-pale-blue
          border-color: $color-pale-blue

    &--disabled
      opacity: 0.4
      cursor: default
