@import '../../styles/colors'
@import '../../styles/layout'
@import '../../styles/buttons'


.transactionListFilters
  position: fixed
  width: 100%
  background-color: $color-dark-blue-2
  top: 54px
  left: 0
  z-index: 1
  padding: $base-indent*1.5 0

  &-inner
    max-width: $content-max-width - 30px
    margin: 0 auto
    padding: 0 $base-indent*1.5

  &-field:not(:first-child)
    margin-top: 20px

  &-buttons
    margin-top: 10px

  &-clearButton
    font-size: 14px
    padding: 5px
    border: none
    text-transform: uppercase
    background: linear-gradient(to right, $color-accent-purple, $color-accent-blue 33%, $color-accent-purple 66%, $color-accent-blue 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    float: right

  &-applyButton
    +primaryButton
    margin-top: $base-indent * 3
    width: 100%
