@import "../../styles/colors"


.appMenu
  position: fixed
  width: 280px
  height: 100%
  background: linear-gradient(180deg, $color-dark-blue-2 0%, $color-dark-blue 100%)
  z-index: 6
  top: 0
  left: 0

  &-overlay
    position: fixed
    width: 100%
    height: 100%
    left: 0
    top: 0
    background-color: rgba(0,0,0,0.4)
    z-index: 5

  &-profileBlock
    height: 50px
    padding: 15px

  &-pageBlock, &-settingBlock
    margin: 10px 0
    padding: 0
    list-style: none
    border-top: 1px solid $color-dark-blue

  &-pageBlockElement
    &:hover > a
      color: $color-pale-blue

    & > a
      padding: 10px 15px
      color: $color-light-blue
      display: flex
      align-items: center
      text-decoration: none

    &--disabled
      opacity: 0.4
      a
        color: $color-pale-blue
        cursor: default

  &-pageIcon
    font-size: 20px

  &-pageName
    margin-left: 10px
