@import '../../styles/layout'
@import '../../styles/colors'
@import '../../styles/buttons'


.transactionChartAndData
  margin: 0 15px

  &-chartWrapper
    position: relative

  &-totalCount
    border-bottom: 1px solid $color-light-blue
    color: $color-pale-blue
    margin: $base-indent * 2 0 $base-indent
    display: flex
    justify-content: space-between

  &-categoryList
    color: $color-light-blue

  &-categoryItem
    margin-bottom: $base-indent/2

  &-categoryTotal
    display: flex
    justify-content: space-between
    text-transform: capitalize

  &-categoryTransactions
    margin: $base-indent/2 0 0 $base-indent*2

  &-categoryTransactionsItem
    font-size: 14px
    display: flex
    justify-content: space-between
    text-transform: capitalize

  .highcharts
    &-background
      fill: transparent

    &-title
      fill: $color-light-blue !important

    &-point
      stroke: $color-pale-blue !important

    &-legend-item > text
      fill: $color-light-blue !important
      font-weight: normal !important

    &-credits
      display: none
