@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700')
@import 'colors'
@import 'layout'

html, body
  margin: 0
  padding: 0
  min-height: 100%
  width: 100%

body
  font-family: Lato,sans-serif
  max-width: $content-max-width
  margin: 0 auto

  &:after
    content: ''
    display: block
    background: linear-gradient(180deg, $color-dark-blue-2 0%, $color-dark-blue 100%)
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    z-index: 0

#root
  position: relative
  z-index: 1

input
  font-family: Lato,sans-serif

button
  cursor: pointer
  outline-color: $color-light-blue
