@import './colors'


=primaryButton
  font-size: 16px
  color: $color-white
  padding: 15px 0
  border-radius: 5px
  background: linear-gradient(to right, $color-accent-purple 0%, $color-accent-blue 50%, $color-accent-purple 100%), $color-accent-purple
  border: none
  text-transform: uppercase
