@import './colors'


.button--loading
  position: relative

  &:before
    content: ''
    display: block
    position: absolute
    background: $color-blue url("./loader.svg") center center no-repeat
    width: 100%
    height: 100%
    left: 0
    top: 0
    border-radius: 5px
