@import 'media'

.table
  &__header > th
    font-size: 14px !important
    padding: 0 12px !important
  &__row
    & > td
      padding: 0 12px !important
      @include mobile
        font-size: 14px !important
