@import './colors'

.Toastify
  &__toast
    background-color: $color-dark-blue !important
    padding: 15px 10px !important
    min-height: 50px !important

    &--error
      color: $color-accent-red !important

    &--success
      color: $color-accent-green !important

  &__closeButton
    color: $color-light-blue
