@import "../../styles/colors"


.floatingButton
  height: 50px
  width: 50px
  position: fixed
  bottom: 15px
  right: 15px
  display: flex
  align-items: center
  justify-content: center
  background-color: $color-accent-green
  color: $color-white
  border-radius: 25px
  cursor: pointer

  i
    font-size: 30px
