@import '../../styles/layout'
@import '../../styles/colors'
@import '../../styles/buttons'


.transactionItem
  margin: 0 15px

  &-field
    margin-top: 20px

  &-saveButton
    +primaryButton
    margin-top: $base-indent * 3
    width: 100%
