@import '../../styles/layout'
@import '../../styles/colors'
@import '../../styles/buttons'


.loginForm
  margin-top: calc(50vh - 250px)

  &-title
    color: $color-white
    font-size: 20px
    text-align: center

  &-inputField
    margin-top: 20px

  &-submitButton
    +primaryButton
    margin-top: $base-indent * 3
    width: 100%

  &-alternatives
    display: flex
    justify-content: space-between
    font-size: 14px
    color: $color-pale-blue
    margin-top: 10px

  &-signInGoogle
    display: flex
    align-items: center

  &-googleIcon
    display: inline-block
    background: url("images/google_logo.svg") 0 0 no-repeat
    height: 15px
    width: 15px
    background-size: 15px
    margin-left: 5px
    cursor: pointer
