@import '../../styles/layout'
@import '../../styles/colors'
@import '../../styles/buttons'


.transactionReports
  margin: 0 15px

  &-chartWrapper
    position: relative

  &-closeButton
    color: $color-light-blue
    font-size: 30px
    position: absolute
    right: 0
    top: 0
    z-index: 1

  &-field
    margin-top: 20px

  &-sendButton
    +primaryButton
    margin-top: $base-indent * 3
    width: 100%

