@import "../../styles/colors"


.dashboardExpenses
  .highcharts
    &-background
      fill: transparent

    &-title
      fill: $color-light-blue !important

    &-point
      stroke: $color-pale-blue !important

    &-legend-item > text
      fill: $color-light-blue !important
      font-weight: normal !important

    &-credits
      display: none
