@import '../../styles/colors'


.selectField
  display: flex
  flex-direction: column

  &-label
    font-size: 14px
    font-weight: bold
    color: $color-pale-blue

  &-select
    margin-top: 5px

  &-error
    color: $color-accent-red
    font-size: 14px
    margin-top: 5px

  &__control
    background-color: $color-dark-blue !important
    border: none !important
    border-radius: 5px !important
    outline-color: $color-light-blue !important
    box-shadow: none !important

  &__placeholder, &__single-value
    color: $color-pale-blue !important
    font-size: 16px !important

  &__indicator-separator
    background-color: $color-pale-blue !important

  &__indicator
    color: $color-pale-blue !important

  &__menu
    background-color: $color-dark-blue-2 !important
    border: none !important
    border-radius: 5px !important

  &__option
    color: $color-pale-blue !important
    text-transform: capitalize !important

    &--is-focused,
    &--is-selected
      background-color: $color-blue !important

  &__single-value
    text-transform: capitalize !important

  &__control--is-disabled .selectField__placeholder,
  &__single-value--is-disabled
    color: $color-blue !important
