@import '../../styles/layout'
@import '../../styles/colors'


.loginPage
  max-width: 400px
  margin: 0 auto
  padding: 0 $base-indent
  z-index: 1

  &-appNameWrapper
    text-align: center
    margin-top: 40px

  &-appName
    font-weight: 300
    font-size: 40px
    background: linear-gradient(to right, $color-accent-purple, $color-accent-blue 33%, $color-accent-purple 66%, $color-accent-blue 100%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-align: center
    display: inline-block
    margin: 0 auto

  &-appSubtitle
    color: $color-accent-purple
    font-weight: 300
    font-style: italic
    font-size: 14px

