@import '../../styles/colors'


.qrScanner
  margin: 0 15px
  flex-grow: 1
  position: absolute
  width: calc(100% - 30px)
  top: 50%
  left: 0
  transform: translateY(-50%)

  &-wrapper
    position: absolute
    height: calc(100% - 50px)
    width: 100%
    z-index: 1
    top: 50px
    left: 0
    background: $color-dark-blue-2
