@import '../../styles/colors'


.inputField
  display: flex
  flex-direction: column

  &-label
    font-size: 14px
    font-weight: bold
    color: $color-pale-blue

  &-input
    margin-top: 5px
    background: $color-dark-blue
    border-radius: 5px
    border: none
    font-size: 16px
    padding: 10px
    outline-color: $color-light-blue
    color: $color-pale-blue
    caret-color: $color-pale-blue

    &[disabled]
      color: $color-blue

    &--date
      position: relative

      &:after
        display: block
        content: " "
        background: url("./calendarIcon.svg") center center no-repeat
        background-size: 20px 20px
        top: 0
        right: 0
        width: 40px
        height: 100%
        position: absolute

      &::-webkit-calendar-picker-indicator
        position: absolute
        top: 0
        right: 0
        bottom: 0
        width: 25px
        height: 100%
        color: transparent
        background: transparent
        cursor: pointer
        z-index: 1

      &::-webkit-inner-spin-button,
      &::-webkit-clear-button
        display: none


  &-error
    color: $color-accent-red
    font-size: 14px
    margin-top: 5px
