@import "../../styles/colors"


.depositList
  &-item
    margin: 15px 0 15px 15px
    display: flex
    align-items: center

  &-itemIconWrapper
    height: 50px
    width: 50px
    background-color: $color-blue
    border-radius: 5px
    display: flex
    justify-content: center
    align-items: center
    color: $color-pale-blue
    font-size: 30px

  &-itemInfo
    margin: 0 10px
    flex: 1
    overflow: hidden

  &-itemName
    font-size: 16px
    color: $color-white
    margin-bottom: 5px
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap

  &-itemBalance
    font-size: 14px
    font-weight: bold
    color: $color-pale-blue

  &-visibility
    color: $color-white
    flex-basis: 50px
    font-size: 20px
    text-align: center

  &-addButton
    position: fixed
    bottom: 20px
    right: 20px
